


.container{
    margin: 50px;
}

h1{
    font-size: 25px;
    padding: 10px;
    text-transform: capitalize;
}
.btn {
background-color:transparent ;
border: 1px solid gray;
border-radius: 10px;
color:#d3d3d3;
font-weight: bold;
padding:5px 8px;
}

.btn:hover{
    color:darkgray
}