


<div class="container">
    <div class="row">
        
            <div class="col-8">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum porro, ut mollitia exercitationem obcaecati doloribus nulla dolorem perspiciatis asperiores laboriosam alias. Nam ratione porro inventore repellendus vitae accusamus unde doloremque, placeat, repellat dignissimos a, impedit odio minima repudiandae deleniti animi!

                </p>
                <button class="btn btn-seconday">read more</button>
            </div>
            <div class="col-4">
                <img src="../assets/2.jpg" alt="">
            </div>
          
    </div>
</div>