


<div class="container">
    <h1>about me</h1>
    <div class="row">
     

        
            <div class="col-8">
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Voluptatum porro, ut mollitia exercitationem obcaecati doloribus nulla dolorem perspiciatis asperiores laboriosam alias. Nam ratione porro inventore repellendus vitae accusamus unde doloremque, placeat, repellat dignissimos a, impedit odio minima repudiandae deleniti animi!

                </p>
                <hr>
                <h6>Team Master</h6>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores porro laboriosam excepturi, voluptas accusantium aspernatur harum consectetur! Commodi deserunt facilis sapiente sed perferendis deleniti fugit, vitae quis at consequatur molestiae.</p>
                <button class="btn btn-seconday">read more</button>
            </div>
            <div class="col-4">
                <img src="../assets/2.jpg" halt="" height="300px">
            </div>
          
    </div>
</div>