<div class="background-img">
    

<div class="container mt-5">
    <h1>contact me!</h1>
    <form action="" class="row g-3">
        <div class="col-md-6">
            <label for="firstName" class="first name">FirstName</label>
            <input type="text"class="form-control " id="firstName" required> 
        </div>
        <div class="col-md-6">
            <label for="LastName" class="Last name">LastName</label>
            <input type="text"class="form-control " id="LastName" required> 
        </div>

        <div class="col-md-8">
            <label for="email" class="form-label">Email</label>
            <input type="emaiemail" class="form-control" id="email" required>
        </div>
        <div class="col-md-4">
            <label for="phone" class="form-lable">Phone Number</label>
            <input type="text" class="form-control" id="phone" placeholder="+234-703-397-7767">
        </div>
            <div class="col-md-12">
                <label for="comments" class="form-label">Comments</label>
                <textarea class="form-control" id="comments" rows="5"></textarea>
                
            
        </div>
        <div class="col-md-12 mt-2">
            <button type="submit" class="btn btn-primary">submit</button>
        </div>
    </form>
</div>

</div>