


<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-6 pt-50">
                <h1>softwear engineer and agile leader</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
                     Excepturi ex voluptas hic amet, nisi assumenda sint tenetur 
                     earum rem sequi culpa ipsam adipisci rerum laudantium blanditiis
                      exercitationem commodi illum? Aspernatur!</p>
                      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reprehenderit sit soluta praesentium nulla vel placeat laboriosam totam maxime? Et ipsam, dignissimos tempora deleniti magni voluptatibus architecto quaerat quisquam nam ex recusandae nemo dolorum autem alias nesciunt sunt est adipisci? Aliquam?</p>
                      <img src="../assets/3.jpg" alt="">                

            </div>
            <div class="col-6">
                <img src="../assets/1.jpg" alt="">
            </div>
          </div>
    </div>
</div>
