


<div class="container">
    <div class="row">
        <div class="row">
            <div class="col-6 pt-50">
                <h1>softwear engineer and agile leader</h1>
                <p>I'm an experienced software engineer who constantly seeks out innovative solutions to everyday problems. In my seven years in this industry, I've honed my analytical thinking and collaboration skills, and I love working with a team. I've also had the opportunity to serve as the software engineer lead for three projects with First Technology.</p>
                
                <hr>
                      <h6>Agile leadership </h6>
                      <p>A professional website is primarily a convenience for you and your clients. A website is not only a showcase of a company, organization or brand. It is more than a short brief of the company’s services or a product description. It’s about designing a sales path from the beginning to the end, taking care of the customers at every stage and carefully keeping them on the website for as long as possible</p>
                                   
                      <hr>
                      <h6 class="social">follow me</h6>
            </div>
          
            <div class="col-6 pl-5">
                <img src="../assets/me.jpg" alt="" height="400px"><br>
                <a href="#" class="contact">email:akindele.festus@decagon.dev</a>
                <span class="contact" class="contact">Phone: +234 703-639-7767 </span>
            </div>
          </div>
    </div>
</div>
